.card {
    position: absolute;
    height: 100vh;
    right: 0;
    object-fit: cover;
}

.title {
    position: absolute;
    width: 450px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.center {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.452);
    border: 1px solid red;
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: rgb(248, 212, 9);
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: black;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    color: white;
    font-size: 30px;
    font-weight: 100;
}

.btn-position {
    z-index: 99;
    position: absolute;
}

.d-none {
    display: none;
}

@media(max-width:600px) {
    .start-screen {
        img {
            width: 400px;
        }
    }
    .card {
        position: absolute;
        height: 100vh;
        right: 0;
        width: 300px;
        object-fit: cover;
    }
    .title {
        position: absolute;
        width: 450px;
    }
    .hide-mobile {
        display: none;
    }
    .center {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn {
        width: 140px;
    }
    .d-none {
        display: block;
    }
}

@media(max-width:450px) {
    .title {
        width: 250px;
    }
}