.start-screen {
    background-color: black;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        max-height: 100vh;
        object-fit: contain;
    }
}

.btn-position {
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.container {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: 180px;
    height: 60px;
    position: absolute;
    bottom: 83px;
}

.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.452);
    border: 1px solid red;
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: rgb(248, 212, 9);
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: black;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    color: white;
    font-size: 30px;
    font-weight: 100;
}